<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="ouster_metadata"         default="/opt/ouster_metadata.json"/>
    <arg name="offline_ouster"         default="true"/>
    <arg name="project" default="lio_sam"/>
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <!-- <include file="$(find lio_sam)/launch/include/module_navsat.launch" /> -->

    <!--- Run Rviz-->
    <!-- <include file="$(find lio_sam)/launch/include/module_rviz.launch" /> -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="quad_lidar_tf" args="0 0 0.1 0 0 0 quadrotor/base_link quadrotor/lidar"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="ouster_to_stack" args="0 0 0 0 0 0 1 quadrotor/lidar os_sensor" />
    <!--- Run Ouster-->
    <include file="$(find ouster_ros)/ouster.launch">
        <arg name="metadata"      value="$(arg ouster_metadata)"/>
        <arg name="replay"      value="$(arg offline_ouster)"/>
    </include>

</launch>
